#=======
# Git
#=======
.git 
.gitignore

#=======
# Python Django
#=======
__pycache__/ 
*.py[cod]
*.pyo 
*.pyd 
*.log

# Virtual Environments
venv/
env/
.venv/

#======
# Node/npm
#======

node_modules/ 
npm-debug.log 
yarn-debug.log 
yarn-error.log 
.pnpm-debug.log 

# Build outputs
dist/ 
build/ 

#======
# Environments 
#======

.env 
.env.*
*.env 
