# version: "3"
services:
  nginx:
    build: ./nginx
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
      - ./frontend/public:/usr/share/nginx/media

  frontend:
    build: ./frontend 
    ports:
      - "3000:3000"
    restart: always
