/* 直接の連絡先・SNSリンク */
.direct-contact {
  font-size: 0.85rem;
  letter-spacing: 0.1em;
  color: #777;
}

.direct-contact a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
  padding-bottom: 2px;
  margin-left: 10px;
}

.direct-contact div {
  margin-bottom: 15px;
}
