.itemGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; /* 繊細な境界線 */
  background-color: #f2f2f2; /* 境界線代わりのグレー */
  margin: 0 80px;
}
@media (max-width: 768px) {
  .itemGrid {
    grid-template-columns: 1fr;
    margin: 0 30px;
  }
}
