.itemGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px; /* 繊細な境界線 */
  background-color: var(--bm-gray-shabby); /* 境界線代わりのグレー */
  margin: 0 auto;
  max-width: 1000px;
}
@media (max-width: 1024px) {
  .itemGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 640px) {
  .itemGrid {
    grid-template-columns: 1fr;
    margin: 0 30px;
  }
}
